body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 81.25rem;
	min-height: 100vh;
	font-family: MicrosoftYaHei !important;
}

.topContainer {
	background: rgba(0, 0, 0, 1);
	height: 3.9375rem;
	line-height: 3.9375rem;
}

.logoText {
	margin-left: 9.375rem;
	/* margin-left: 13.5625rem; */
}

.logoText span {
	color: #FFFFFF;
	font-size: 1.25rem;
}

.helpText {
	margin-left: 0.9375rem;
	margin-top: 0.25rem;
}

.helpText span {
	color: #FFFFFF;
	font-size: 0.9375rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	-webkit-background-clip: text;
}

.headIcon {
	height: 1.5rem;
	width: 1.5rem;
}

.userIcon {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
}

.rightArea {
	justify-content: space-around;
	align-items: center;
}

.rightOption {
	justify-content: space-around;
	position: absolute;
	right: 5.1875rem;
}

.mainBody {
	width: 90%;
	height: 47.9375rem;
	margin: 0rem auto;
	margin-top: 1.875rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 111px 0px rgba(0, 0, 0, 0.1);
}

.headshot {
	height: 3.5625rem;
	width: 3.5625rem;
}

.leftMenu {
	width: 12.5rem;
	height: 100%;
}

.userInfo {
	height: 9.375rem;
	background-color: #3B3B3B;
}

.userInfo span {
	font-size: 1rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
}

.infoText {
	justify-content: center;
	margin-left: 0.625rem;
}

.userBigIcon {
	display: flex;
	align-items: center;
}

.leftTopArea {
	margin: 0rem auto;
}

.userNameText {
	margin-bottom: 0.5rem;
	margin-left: 1.25rem;
}

.position {
	margin-top: 0.375rem;
}

.positionText {
	margin-left: 0.3125rem;
}

.menuList {
	width: 100%;
	height: 100%;
	background-color: #024B7F;
}

.menuList ul {
	margin: 0;
	padding: 0;
}

.menuList ul li {
	list-style: none;
	width: 100%;
	height: 3.4375rem;
	line-height: 3.4375rem;
	color: #FFFFFF;
	font-size: 0.9375rem;
	font-family: MicrosoftYaHei;
}

.menuArea {
	width: 100%;
	height: 100%;
}

.optionName {
	margin-left: 0.875rem;
	margin-top: 0.125rem;
}

.menuIconArea {
	margin-left: 2.3125rem;
}

.middleMenu {
	width: 12.5rem;
	background: rgba(245, 246, 247, 1);
}

.bottomArea {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 1.875rem;
	line-height: 1.875rem;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
}

.recordText a {
	text-decoration: none;
	color: #FFFFFF;
}

.listIcon {
	width: 0.9375rem;
	height: 0.75rem;
}

.middleMenuList {
	height: 80%;
	widows: 100%;
	overflow-y: auto;
	display: none;
}

.middleMenuList ul {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 1.25rem;
}

.middleMenuList ul li {
	list-style: none;
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(50, 50, 50, 1);
	height: 2.125rem;
	line-height: 2.125rem;
	width: 100%;
}

.middleMenuInfo {
	width: 50%;
	margin: 0px auto;
}

.middleMenuName {
	margin-left: 0.625rem;
}

.addIcon {
	width: 1.5625rem;
	height: 1.5625rem;
}


.addText span {
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(50, 50, 50, 1);
	-webkit-background-clip: text;
}

.addMiddleMenu {
	margin-top: 0.625rem;
	height: 2.125rem;
	line-height: 2.125rem;
}

.addMiddleMenu:hover {
	cursor: pointer;
	background-color: rgba(225, 226, 227, 1);
}

.addIconArea {
	margin-left: 1.5625rem;
}

.addText {
	margin-left: 0.3125rem;
	margin-top: 0.125rem;
}

.mainFrame {
	width: 75%;
	height: 100%;
}

.checkedMiddleMenu {
	background-color: rgba(225, 226, 227, 1);
}

.checkMiddle {
	display: block;
}

.middleMenuOption:hover {
	cursor: pointer;
	/* background-color: rgba(225, 226, 227, 1); */
}


.menuList ul li:hover {
	cursor: pointer;
	/* padding-bottom: 0.0625rem;
	color: black!important;
	background-color: #F5F6F7; */
}

.checkedMenu {
	color: black !important;
	background-color: #F5F6F7;
	border-bottom: 0.125rem #DC4545 solid;
}

.clickCheckedMenu {
	color: black !important;
	background-color: #F5F6F7;
	border-bottom: 0.125rem #DC4545 solid;
}


.peopleMiddleMenu {
	width: 65% !important;
}

.modal_div {
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: fixed;
	opacity: 0.2;
	top: 0;
	left: 0;
	z-index: 9;
}

.addAttendanceBox {
	width: 45.625rem;
	height: 22.75rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0.125rem 3.75rem 0px rgba(0, 0, 0, 0.09);
	border-radius: 0.25rem;
}


.headTitle {
	width: 100%;
	height: 3.1875rem;
	line-height: 3.1875rem;
	text-align: center;
	background: rgba(44, 115, 196, 1);
	border-radius: 0.25rem 0.25rem 0px 0px;
	color: #FFFFFF;
	font-size: 1.125rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
}

.pickArea {
	margin-left: 4.6875rem;
	margin-top: 2.25rem;
}

.attendanceNameText span {
	font-size: 1rem;
	font-family: MicrosoftYaHei;
	color: rgba(53, 78, 101, 1);
}

.attendanceNameinputArea {
	width: 29.9375rem;
	height: 2.25rem;
	margin-left: 2.25rem;
	border-radius: 0.125rem;
	border: 1px solid rgba(231, 231, 231, 1);
}

.attendanceNameinputArea input {
	width: 100%;
	height: 100%;
	font-size: 0.9375rem;
	background: rgba(245, 246, 247, 1) !important;
}

/**
 *  修改google浏览器，默认的聚焦黄色背景为白色
 */
.attendanceNameinputArea input:-webkit-autofill,
.attendanceNameinputArea select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.attendanceNameinputArea input {
	outline-color: invert;
	outline-style: none;
	outline-width: 0px;
	border: none;
	border-style: none;
}

.attendanceNameinputArea input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: rgba(150, 150, 150, 1);
	/* placeholder字体大小  */
	font-size: 14px;
	font-family: MicrosoftYaHei;
}


.attendanceTimePeriodArea {
	width: 11.8125rem;
	height: 2.25rem;
	background: rgba(245, 246, 247, 1);
	border-radius: 0.125rem;
	margin-left: 4.3125rem;
}

#attendanceTimePeriod {
	background-color: rgba(245, 246, 247, 1) !important;
}

.timeperiod {
	margin-top: 1.9375rem;
}

.attendanceNameArea {
	align-items: center;
}

.finishedBtn {
	width: 5.875rem;
	height: 2.4375rem;
	line-height: 2.4375rem;
	text-align: center;
	background: rgba(44, 115, 196, 1);
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
}

.cancelBtn {
	width: 5.875rem;
	height: 2.4375rem;
	line-height: 2.4375rem;
	text-align: center;
	background: rgba(213, 213, 213, 1);
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(50, 50, 50, 1);
	margin-left: 2.8125rem;
}

.addAttendaceBtnArea {
	margin-left: 11rem;
	margin-top: 3.625rem;
}

.messageArea {
	margin-right: 2.125rem;
}

.rightArea {
	align-items: center;
}

.helpArea {
	margin-right: 2.125rem;
}

.singleMenu {
	height: 100%;
	width: 100%;
}

.eighteenWidth {
	height: 98%;
}

.bottomLine {
	width: 9.875rem;
	height: 0.0625rem;
	background: rgba(255, 255, 255, 1);
	opacity: 0.08;
	margin-left: 1.3125rem;
}

.radioArray {
	margin-left: 2.25rem !important;
}

.deviceIdArea {
	margin-left: 1.25rem !important;
}

.addDeviceBtnArea {
	margin-top: 2.5rem;
}

.addBtn {
	margin-left: 100px !important;
}

.cancelDeviceBtn {
	margin-left: 2.8125rem !important;
}

.addDevice {
	height: 19.6875rem !important;
}

.helpText:hover {
	cursor: pointer;
}

.addVistorBox {
	width: 53.8125rem;
	height: 33.5rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0.125rem 3.75rem 0.0625rem rgba(0, 0, 0, 0.19);
	border-radius: 1.25rem;
}

.singleInput {
	width: 21.3125rem;
	height: 2.5rem;
	line-height: 2.5rem;
	background: rgba(249, 249, 249, 1);
	border-radius: 0.125rem;
	border: 1px solid rgba(221, 221, 221, 1);
}

.mustInput {
	color: #FF0000;
}

.lefttextArea {
	margin-left: 1.375rem;
}

.leftText {
	font-size: 0.8125rem;
	font-family: MicrosoftYaHei;
	color: rgba(150, 150, 150, 1);
}

.middleLine {
	margin-right: 1.25rem;
	margin-left: 2.6875rem;
	color: rgba(150, 150, 150, 1);
}

.inputArea {
	height: 100%;
}

.inputArea input {
	width: 100%;
	height: 100%;
	font-size: 0.9375rem;
	background: rgba(249, 249, 249, 1) !important;
}

/**
 *  修改google浏览器，默认的聚焦黄色背景为白色
 */
.inputArea input:-webkit-autofill,
.inputArea select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.inputArea input {
	outline-color: invert;
	outline-style: none;
	outline-width: 0px;
	border: none;
	border-style: none;
}

.inputArea input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: rgba(150, 150, 150, 1);
	/* placeholder字体大小  */
	font-size: 14px;
	font-family: MicrosoftYaHei;
}

.rightInput {
	margin-left: 1.875rem !important;
}

.nextBox {
	margin-top: 1.125rem;
}

.longInput {
	width: 44.625rem !important;
}

.clearLine {
	margin-left: 0.3125rem;
}

.visitDateLine {
	margin-left: 1.1875rem;
}

.wearHelmetLine {
	margin-left: 1.1875rem;
}

#addBtn {
	width: 15.3125rem;
	height: 2.5625rem;
	background: rgba(44, 115, 196, 1) !important;
}

#resetBtn {
	width: 15.3125rem;
	height: 2.5625rem;
	background: rgba(213, 213, 213, 1);
	margin-left: 6.625rem;
}

.bottomBtnArea {
	margin-top: 2.125rem;
	margin-left: 3rem;
}

.addBussiness {
	width: 53.8125rem !important;
	height: 48rem !important;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0.125rem 3.75rem 0.0625rem rgba(0, 0, 0, 0.19);
	border-radius: 1.25rem;
}

.regisetMoneyLine {
	margin-left: 8rem;
}

.regisetMoneyLineRight {
	margin-left: 0px;
	margin-right: 2.5rem;
}

.moneyUnit {
	position: absolute;
	right: 0px;
	margin-right: 0.3125rem;
	font-size: 0.75rem;
	font-family: MicrosoftYaHei;
	color: rgba(0, 0, 0, 1);
}

.registerMoneyArea {
	position: relative;
}

.registerMoneyLeft {
	position: absolute;
}

.longInputText{
	width: 30.625rem!important;
}
.corporateLine{
	margin-left: 1.5625rem;
}
.fitLine{
	margin-left: 1.875rem;
}
.linefit{
	margin-left: 0.9375rem;
}