body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 81.25rem;
	min-height: 100vh;
	font-family: MicrosoftYaHei !important;
}

.topContainer {
	background: rgba(0, 0, 0, 1);
	height: 3.9375rem;
	line-height: 3.9375rem;
}

.logoText {
	margin-left: 9.375rem;
	/* margin-left: 13.5625rem; */
}

.logoText span:hover{
	cursor: pointer;
}

.logoText span {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select:none;
	color: #FFFFFF;
	font-size: 1.25rem;
}

.helpText {
	margin-left: 0.9375rem;
	margin-top: 0.25rem;
}

.helpText span {
	color: #FFFFFF;
	font-size: 0.9375rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	-webkit-background-clip: text;
}

.headIcon {
	height: 1.5rem;
	width: 1.5rem;
}

.userIcon {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
}

.rightArea {
	justify-content: space-around;
	align-items: center;
}

.rightOption {
	justify-content: space-around;
	position: absolute;
	right: 5.1875rem;
}

@media only screen and (max-width: 1400px) {
	.mainBody {
		width: 97%;
		height: 47.9375rem;
		position: relative;
		margin: 0rem auto;
		margin-top: 1.875rem;
		background:rgba(239,243,245,1);
		box-shadow: 0px 0.125rem 6.9375rem 0px rgba(0, 0, 0, 0.1);
		margin-bottom: 2.5rem;
	}

	.bottomArea {
		position: absolute;
		width: 100%;
		height: 3.875rem;
		line-height: 3.875rem;
		text-align: center;
		background-color: #000000;
		color: #FFFFFF;
	}

	.left_canvas {
		position: absolute;
		left: 14.3%;
		top: 40%;
		display: none;
	}
	
	.middleMenuList {
		height: 80%;
		width: 11.875rem;
		overflow-y: auto;
		display: none;
	}

}

@media only screen and (min-width: 1400px) {
	.mainBody {
		width: 90%;
		height: 47.9375rem;
		position: relative;
		margin: 0rem auto;
		margin-top: 1.875rem;
		background:rgba(239,243,245,1);
		box-shadow: 0px 2px 111px 0px rgba(0, 0, 0, 0.1);
	}
	.bottomArea {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 3.875rem;
		line-height: 3.875rem;
		text-align: center;
		background-color: #000000;
		color: #FFFFFF;
	}

	.left_canvas {
		position: absolute;
		left: 12.3rem;
		top: 40%;
		display: none;
	}
	
	.middleMenuList {
		height: 80%;
		width: 100%;
		overflow-y: auto;
		display: none;
	}
}


.headshot {
	height: 3.5625rem;
	width: 3.5625rem;
}

.leftMenu {
	width: 12.5rem;
	height: 100%;
}

.userInfo {
	height: 9.375rem;
	background-color: #3B3B3B;
}

.userInfo span {
	font-size: 1rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
}

.infoText {
	justify-content: center;
	margin-left: 0.625rem;
}

.userBigIcon {
	display: flex;
	align-items: center;
}

.leftTopArea {
	margin: 0rem auto;
}

.userNameText {
	margin-bottom: 0.5rem;
	margin-left: 1.25rem;
}

.position {
	margin-top: 0.375rem;
}

.positionText {
	margin-left: 0.3125rem;
}

.menuList {
	width: 100%;
	height: 100%;
	background-color: #024B7F;
}

.menuList ul {
	margin: 0;
	padding: 0;
}

.menuList ul li {
	list-style: none;
	width: 100%;
	height: 3.4375rem;
	line-height: 3.4375rem;
	color: #FFFFFF;
	font-size: 0.9375rem;
	font-family: MicrosoftYaHei;
}

.menuArea {
	width: 100%;
	height: 100%;
}

.optionName {
	margin-left: 0.875rem;
	margin-top: 0.125rem;
}

.menuIconArea {
	margin-left: 2.3125rem;
}

.middleMenu {
	position: relative;
	width: 12.5rem;
	background: rgba(245, 246, 247, 1);
}

.container {
	position: relative;
}

.recordText a {
	text-decoration: none;
	color: #FFFFFF;
}

.listIcon {
	width: 0.9375rem;
	height: 0.75rem;
}

.middleMenuList ul {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 1.25rem;
}

.middleMenuList ul li {
	list-style: none;
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(50, 50, 50, 1);
	height: 1.875rem;
	line-height: 1.875rem;
	width: 100%;
}

.middleMenuInfo {
	width: 50%;
	margin: 0px auto;
}

.middleMenuName {
	margin-left: 0.625rem;
}

.addIcon {
	width: 1.5625rem;
	height: 1.5625rem;
}

.addDeviceIcon {
	width: 1.0625rem;
	height: 1.0625rem;
}

.addText span {
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(50, 50, 50, 1);
	-webkit-background-clip: text;
}

.addMiddleMenu {
	height: 1.875rem;
	line-height: 1.875rem;
}

.addMiddleMenu:hover {
	cursor: pointer;
	background-color: rgba(225, 226, 227, 1);
}

.agentOption {
	height: 25px;
	line-height: 25px;
	align-items: center;
}

.helmetOption {
	height: 25px;
	line-height: 25px;
}

.agentOption:hover {
	cursor: pointer;
	background-color: rgba(225, 226, 227, 1);
}

.addIconArea {
	margin-left: 1.5625rem;
}

.addIconAreaHel {
	margin-left: 1.5625rem;
}

.addText {
	margin-left: 0.3125rem;
	margin-top: 0.125rem;
}

.mainFrame {
	width: 77%;
	height: 100%;
}

.checkedMiddleMenu {
	background-color: rgba(225, 226, 227, 1);
}

.checkMiddle {
	display: block;
}

.middleMenuOption:hover {
	cursor: pointer;
	/* background-color: rgba(225, 226, 227, 1); */
}


.menuList ul li:hover {
	cursor: pointer;
	/* padding-bottom: 0.0625rem;
	color: black!important;
	background-color: #F5F6F7; */
}

.checkedMenu {
	color: black !important;
	background-color: #F5F6F7;
	border-bottom: 0.125rem #DC4545 solid;
}

.clickCheckedMenu {
	color: black !important;
	background-color: #F5F6F7;
	border-bottom: 0.125rem #DC4545 solid;
}


.peopleMiddleMenu {
	width: 65% !important;
}

.modal_div {
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: fixed;
	opacity: 0.2;
	top: 0;
	left: 0;
	z-index: 9;
}

.addAttendanceBox {
	width: 45.625rem;
	height: 19.75rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0.125rem 3.75rem 0px rgba(0, 0, 0, 0.09);
	border-radius: 0.25rem;
}


.headTitle {
	width: 100%;
	height: 3.1875rem;
	line-height: 3.1875rem;
	text-align: center;
	background: rgba(44, 115, 196, 1);
	border-radius: 0.25rem 0.25rem 0px 0px;
	color: #FFFFFF;
	font-size: 1.125rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
}

.pickArea {
	margin-left: 4.6875rem;
	margin-top: 2.25rem;
}

.attendanceNameText span {
	font-size: 1rem;
	font-family: MicrosoftYaHei;
	color: rgba(53, 78, 101, 1);
}

.attendanceNameinputArea {
	width: 29.9375rem;
	height: 2.25rem;
	margin-left: 2.25rem;
	border-radius: 0.125rem;
	border: 1px solid rgba(231, 231, 231, 1);
}

.attendanceNameinputArea input {
	width: 100%;
	height: 100%;
	font-size: 0.9375rem;
	background: rgba(245, 246, 247, 1) !important;
}

/**
 *  修改google浏览器，默认的聚焦黄色背景为白色
 */
.attendanceNameinputArea input:-webkit-autofill,
.attendanceNameinputArea select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.attendanceNameinputArea input {
	outline-color: invert;
	outline-style: none;
	outline-width: 0px;
	border: none;
	border-style: none;
}

.attendanceNameinputArea input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: rgba(150, 150, 150, 1);
	/* placeholder字体大小  */
	font-size: 14px;
	font-family: MicrosoftYaHei;
}


.attendanceTimePeriodArea {
	width: 11.8125rem;
	height: 2.25rem;
	background: rgba(245, 246, 247, 1);
	border-radius: 0.125rem;
	margin-left: 4.3125rem;
}

#attendanceTimePeriod {
	background-color: rgba(245, 246, 247, 1) !important;
}

.timeperiod {
	margin-top: 1.9375rem;
}

.attendanceNameArea {
	align-items: center;
}

.finishedBtn {
	width: 5.875rem;
	height: 2.4375rem;
	line-height: 2.4375rem;
	text-align: center;
	background: rgba(44, 115, 196, 1);
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
}

.cancelBtn {
	width: 5.875rem;
	height: 2.4375rem;
	line-height: 2.4375rem;
	text-align: center;
	background: rgba(213, 213, 213, 1);
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(50, 50, 50, 1);
	margin-left: 5.8125rem !important;
}

.addAttendaceBtnArea {
	margin-left: 6.375rem;
	margin-top: 3.625rem;
}

.messageArea {
	margin-right: 2.125rem;
}

.rightArea {
	align-items: center;
}

.helpArea {
	margin-right: 2.125rem;
}

.singleMenu {
	height: 100%;
	width: 100%;
}

.eighteenWidth {
	height: 98%;
}

.bottomLine {
	width: 9.875rem;
	height: 0.0625rem;
	background: rgba(255, 255, 255, 1);
	opacity: 0.08;
	margin-left: 1.3125rem;
}

.radioArray {
	margin-left: 2.25rem !important;
}

.deviceIdArea {
	margin-left: 1.25rem !important;
}

.addDeviceBtnArea {
	margin-top: 2.5rem;
}

.addBtn {
	margin-left: 100px !important;
}

.cancelDeviceBtn {
	margin-left: 2.8125rem !important;
}

.addDevice {
	height: 19.6875rem !important;
}

.addVistorBox {
	width: 53.8125rem;
	height: 33.5rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0.125rem 3.75rem 0.0625rem rgba(0, 0, 0, 0.19);
	border-radius: 1.25rem;
}

.singleInput {
	width: 21.3125rem;
	height: 2.5rem;
	line-height: 2.5rem;
	background: rgba(249, 249, 249, 1);
	border-radius: 0.125rem;
	border: 1px solid rgba(221, 221, 221, 1);
}

.scheduleList {
	margin-top: 3.3125rem;
}

.runtimeSet {
	align-items: center;
	margin-left: 3.75rem;
}

.runtimeSetSec {
	align-items: center;
	margin-left: 2.625rem;
}

.runtimeSetInput {
	width: 11.8125rem;
	height: 2.25rem;
	line-height: 2.25rem;
	background: rgba(249, 249, 249, 1);
	border-radius: 0.125rem;
	border: 1px solid rgba(221, 221, 221, 1);
	margin-left: 1.875rem;
}

.speedSetInput {
	margin-left: 0rem;
}

.runtimeSetInput .middleLine {
	margin: 0;
	margin-right: 0.375rem;
}

.runtimeSetInput .lefttextArea {
	margin: 0;

}

.runtimeSetInput .inputArea {
	width: 66%;
}

.warningArea {
	width: 75% !important;
}

.warningSpeedArea {
	width: 70% !important;
}

.runtimeSetInput .inputArea input {
	text-indent: 1em;
	color: rgba(150, 150, 150, 1);
}

.mustInput {
	color: #FF0000;
}

.lefttextArea {
	margin-left: 1.375rem;
}

.leftText {
	font-size: 0.8125rem;
	font-family: MicrosoftYaHei;
	color: rgba(150, 150, 150, 1);
}

.middleLine {
	margin-right: 1.25rem;
	margin-left: 2.6875rem;
	color: rgba(150, 150, 150, 1);
}

.middleLineDep {
	margin-right: 1.25rem;
	margin-left: 0.9375rem;
	color: rgba(150, 150, 150, 1);
}

.hasNextDepLine {
	color: rgba(150, 150, 150, 1);
}

.workNextLine {
	color: rgba(150, 150, 150, 1);
	margin-left: 0.5rem;
	margin-right: 0.75rem;
}

.addDepArea {
	width: 30%;
}

.hadNextDep {
	width: 35%;
}


.inputArea {
	height: 100%;
}

.inputArea input {
	width: 100%;
	height: 100%;
	font-size: 0.9375rem;
	background: rgba(249, 249, 249, 1) !important;
}

/**
 *  修改google浏览器，默认的聚焦黄色背景为白色
 */
.inputArea input:-webkit-autofill,
.inputArea select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.inputArea input {
	outline-color: invert;
	outline-style: none;
	outline-width: 0px;
	border: none;
	border-style: none;
}

.inputArea input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: rgba(150, 150, 150, 1);
	/* placeholder字体大小  */
	font-size: 14px;
	font-family: MicrosoftYaHei;
}

.rightInput {
	margin-left: 1.875rem !important;
}

.nextBox {
	margin-top: 1.125rem;
}

.longInput {
	width: 44.625rem !important;
}

.clearLine {
	margin-left: 0.3125rem;
}

.visitDateLine {
	margin-left: 1.1875rem;
}

.wearHelmetLine {
	margin-left: 1.1875rem;
}

#addBtn {
	width: 15.3125rem;
	height: 2.5625rem;
	background: rgba(44, 115, 196, 1) !important;
}

#resetBtn {
	width: 15.3125rem;
	height: 2.5625rem;
	background: rgba(213, 213, 213, 1);
	margin-left: 6.625rem;
}

.bottomBtnArea {
	margin-top: 2.125rem;
	margin-left: 3rem;
}

.addBussiness {
	width: 53.8125rem !important;
	height: 48rem !important;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0.125rem 3.75rem 0.0625rem rgba(0, 0, 0, 0.19);
	border-radius: 1.25rem;
}

.addDepartment {
	width: 53.8125rem !important;
	height: 33.5rem !important;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0.125rem 3.75rem 0.0625rem rgba(0, 0, 0, 0.19);
	border-radius: 1.25rem;
}

.addWorker {
	width: 53.8125rem !important;
	height: 29.875rem !important;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 0.125rem 3.75rem 0.0625rem rgba(0, 0, 0, 0.19);
	border-radius: 1.25rem;
}

.addWorkerLeft {
	width: 20%;
	margin-left: 1.375rem;
}


.regisetMoneyLine {
	margin-left: 8rem;
}

.regisetMoneyLineRight {
	margin-left: 0px;
	margin-right: 2.5rem;
}

.moneyUnit {
	position: absolute;
	right: 0px;
	margin-right: 0.3125rem;
	font-size: 0.75rem;
	font-family: MicrosoftYaHei;
	color: rgba(0, 0, 0, 1);
}

.registerMoneyArea {
	position: relative;
}

.registerMoneyLeft {
	position: absolute;
}

.longInputText {
	width: 30.625rem !important;
}

.corporateLine {
	margin-left: 1.5625rem;
}

.fitLine {
	margin-left: 1.875rem;
}

.linefit {
	margin-left: 0.9375rem;
}

.layui-layer-title {
	width: 100%;
	padding: 0 !important;
	height: 3.1875rem !important;
	line-height: 3.1875rem !important;
	text-align: center !important;
	font-family: MicrosoftYaHei !important;
	color: rgba(255, 255, 255, 1) !important;
	background-color: rgba(44, 115, 196, 1) !important;
	font-size: 1.125rem !important;
}

.layui-layer-setwin .layui-layer-close1 {
	display: none !important;
	background-position: 1px -38px !important;
}

.recordText a:hover {
	text-decoration: underline;
}

.displacementWarning {
	margin: 0px auto;
	margin-top: 1.875rem;
	width: 34.6875rem;
	height: 30rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 60px 1px rgba(0, 0, 0, 0.19);
	border-radius: 20px;
}

.speedWarning {
	width: 34.6875rem;
    height: 23.5rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 60px 1px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.topTextArea {
	width: 100%;
	height: 3.1875rem;
	line-height: 3.1875rem;
	text-align: center;
	font-size: 1.125rem;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	background: rgba(205, 36, 35, 1);
	border-radius: 4px 4px 0px 0px;
}

.titleText {
	width: 100%;
	margin-top: 1.75rem;
	text-align: center;
	font-size: 1.125rem;
	font-family: MicrosoftYaHei;
	color: rgba(53, 78, 101, 1);
}

.dataArea {
	margin-top: 2.3125rem;
	margin-left: 3.5rem;
}

.singleDataRow {
	width: 50%;
	line-height: 3.125rem;
}

.dataTitle {
	width: 35%;
	font-size: 1rem;
	font-family: MicrosoftYaHei;
	color: rgba(53, 78, 101, 1);
}

.dataValue {
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(0, 0, 0, 1);
}

.watchBtnArea {
	margin: 0rem auto;
	margin-top: 2.1875rem;
}

.watchSpeedBtnArea {
	margin: 0rem auto;
	margin-top: 1.1875rem;
}

.watchBtn {
	width: 15.3125rem;
	height: 2.5625rem;
	font-size: 1.125rem;
	background: rgba(213, 213, 213, 1);
	color: rgba(100, 100, 100, 1);
}

.slideValueArea {
	width: 26.625rem;
	position: relative;
	margin-left: 3.5rem;
	margin-top: 20px;
}

.line {
	width: 100%;
	margin-top: 0.375rem;
	height: 0.125rem;
	background: linear-gradient(270deg, rgba(232, 74, 73, 1) 0%, rgba(254, 212, 50, 1) 51%, rgba(0, 192, 11, 1) 100%);
	border-radius: 4px;
}

.count {
	width: 100%;
	position: relative;
}

.countText {
	width: 33%;
	text-align: right;
}

.lineTitle {
	width: 100%;
	text-align: center;
	margin-top: 0.625rem;
	font-size: 0.8125rem;
	font-family: MicrosoftYaHei;
	color: rgba(0, 0, 0, 1);
}

.checkRectBox {
	width: 0.4875rem;
	height: 0.4875rem;
	position: absolute;
	background: rgba(232, 74, 72, 1);
	transform: rotate(45deg);
	margin-top: -5px;
	/* 可以用计算函数求百分比 */
	margin-left: calc(26.625rem/15*13);
}

.runScheduleArea {
	width: 45.625rem;
	height: 16.25rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
}

.warnValArea {
	width: 45.625rem;
	height: 31.5rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
}

.titleTextArea {
	width: 100%;
	height: 3.1875rem;
	line-height: 3.1875rem;
	font-size: 18px;
	text-align: center;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	background: rgba(44, 115, 196, 1);
	border-radius: 4px 4px 0px 0px;
}

.confirmBtn {
	width: 15.3125rem;
	height: 2.5625rem;
	line-height: 2.5625rem;
	margin-left: 3.5625rem;
	background: rgba(44, 115, 196, 1);
	font-size: 18px;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
}

.resetBtnSec {
	width: 15.3125rem;
	height: 2.5625rem;
	line-height: 2.5625rem;
	margin-left: 6.875rem !important;
	background: rgba(213, 213, 213, 1);
	font-size: 18px;
	font-family: MicrosoftYaHei;
	color: rgba(100, 100, 100, 1);
}

.btnGroup {
	margin-top: 1.875rem;
}

.speedBtnGroup {
	margin-top: 2.875rem;
}

.warningTile {
	font-size: 16px;
	font-family: MicrosoftYaHei;
	color: rgba(53, 78, 101, 1);
}

.singleWarning {
	margin-left: 7.0625rem;
	margin-top: 1.875rem;
}

.waringContent {
	margin-top: 1.5625rem;
}

.secContent {
	margin-top: 0.625rem;
}

.warningLine {
	width: 31.1875rem;
	height: 0.0625rem;
	margin-left: 7.0625rem;
	margin-top: 2.6875rem;
	background-color: rgba(150, 150, 150, 1);
}

.agentContent {
	display: none;
}

.trianleImg {
	display: none;
}

.agentContent .addText {
	margin-left: 23px;
}

.helmetContent {
	display: none;
}

.foundationMenu ul {
	margin: 0 !important;
	padding: 0 !important;
}

.foundationMenu ul li {
	list-style: none;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	color: rgba(50, 50, 50, 1);
	height: 1.5625rem;
	line-height: 1.5625rem;
}

.foundationMenu {
	display: none;
	position: absolute;
	margin-left: 50px;
	margin-top: 0.375rem;
}

.saftyImg {
	visibility: hidden;
}

.canvasArea {
	position: absolute;
	right: 0;
	top: 40%;
}

.msgCount {
	position: absolute;
	width: 1.125rem;
	height: 1.125rem;
	margin-left: 41px;
	top: 16px;
	border-radius: 50%;
	background-color: rgba(226, 0, 0, 1);
	font-size: 12px;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	line-height: 1.125rem;
	text-align: center;
}

.msgCount:hover {
	cursor: pointer;
}

.msgBox {
	display: none;
	position: absolute;
	z-index: 2;
	margin-right: 12.1875rem;
	right: 0;
	width: 298px;
	height: 301px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.04);
}

.msgBoxText {
	font-size: 15px;
	font-family: MicrosoftYaHei;
	color: rgba(0, 0, 0, 1);
}

.clearBtn {
	font-size: 12px;
	font-family: MicrosoftYaHei;
	color: rgba(145, 145, 145, 1);
}

.topBox {
	width: 85%;
	margin: 0px auto;
	line-height: 50px;
	justify-content: space-between;
}

.apartLine {
	width: 100%;
	height: 0.0625rem;
	background-color: #DEDEDE;
}

.singleMsg {
	width: 85%;
	margin: 0rem auto;
	align-items: center;
}

.msgCountNum {
	width: 30px;
	height: 18px;
	line-height: 1rem;
	text-align: center;
	background: rgba(186, 187, 186, 1);
	border-radius: 8px;
	font-size: 12px;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
}

.msgList ul li {
	display: flex;
	height: 4rem;
	border-bottom: 0.0625rem solid #DEDEDE;
}

.msgList ul li:hover{
	cursor: pointer;
}

.msgContent {
	font-size: 14px;
	color: #969696;
	font-family: MicrosoftYaHei;
}

.notice {
	font-weight: bold;
}

.apartTop {
	margin-top: 0.4375rem;
}

.checkAll {
	width: 100%;
}

.checkAllBtn {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	color: rgba(0, 0, 0, 1);
}

.checkAllBtn:hover {
	color: rgba(0, 0, 0, 1) !important;
	text-decoration: underline;
}

.checkedMessage {
	background: rgba(0, 0, 0, 1);
	color: #FFFFFF;
}

.checkedMessage .msgContentArea .msgContent {
	color: #FFFFFF;
}

.warningMsg {
	color: #E20000;
}
.clearBtn:hover{
	cursor: pointer;
	text-decoration: underline;
}
