.foundation {
	width: 100%;
	height: 100vh;
	color: #FFFFFF;
}

.titleArea {
	width: 15%;
	height: 100%;
	margin-left: 2%;
	/* border: 1px solid white; */
}

.topMiddleSearchArea {
	width: 40%;
	height: 100%;
	margin-left: 10.5%;
	background-image: url(../img/middle_top.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.leftInputArea {
	width: 75%;
	height: 65%;
	position: relative;
	margin-top: 1.2%;
	margin-left: 2%;
}

.layui-form {
	width: 100%;
	height: 100%;
}

.layui-form-select {
	width: 100%;
	height: 100%;
}

.layui-input-inline {
	width: 100%;
	height: 100%;
}

.layui-select-title {
	width: 100%;
	height: 100%;
	color: #FFFFFF !important;
}

.layui-select-title input {
	color: #FFFFFF !important;
}

.layui-form-select .layui-input {
	text-indent: 40%;
}

.layui-input,
.layui-select,
.layui-textarea {
	height: 100%;
	background: transparent;
	border: none;
}

.layui-form-select dl {
	top: 27px;
	/* background: transparent; */
	border: 1px solid #2C73C4;
	border-top: none;
	color: #000000;
}

.layui-form-select dl dd:hover {
	background-color: #2C73C4;
	color: #FFFFFF;
}

.layui-form-select dl dd.layui-select-tips {
	color: #000000;
}

.layui-form-select .layui-edge {
	top: 55%;
}

.searchBtnArea {
	width: 18%;
	height: 65%;
	margin-top: 1.3%;
	margin-left: 3.5%;
}

.searchBtnArea .layui-btn {
	width: 100%;
	height: 100%;
	text-align: center;
	border: none;
	box-shadow: none;
}

.layui-btn-container .layui-btn {
	margin-right: 3%;
	margin-bottom: 3%;
}

.layui-btn {
	width: 2.1875rem;
	height: 1.375rem;
	line-height: 1.375rem;
	text-align: center;
	padding: 0;
	background: transparent;
	/*完全透明*/
	opacity: 1;
	/* 仅调节背景的色彩，并加上不透明度，此例为70%不透明的白色 */
	border: 1px solid #77bfec;
	color: #77bfec;
}

.bottomShowArea {
	width: 100%;
	height: 93%;
	margin-top: 1%;
}

.leftBottomPositonArea {
	width: 24%;
	height: 100%;
	margin-left: 1.5%;
}

.topPositionArea {
	width: 100%;
	height: 50%;
	/* border: 1px solid white; */
	background-image: url(../img/left_top.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.bottomPositionArea {
	width: 100%;
	height: 45%;
	margin-top: 5%;
	/* border: 1px solid white; */
	background-image: url(../img/left_bottom.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.rightBottomPositonArea {
	width: 71%;
	height: 98%;
	margin-left: 2%;
	position: relative;
	background-image: url(../img/right_box.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.insidePeopleArea {
	width: 90%;
	margin: 0px auto;
	margin-top: 2%;
	justify-content: flex-end;
}

.numberDetail {
	width: 90%;
	margin: 0px auto;
	margin-top: 1%;
}

.topCirclrArea {
	width: 100%;
	text-align: center;
}

.singleCircle {
	width: 6.25rem;
	height: 5.8125rem;
	margin: 0px auto;
	position: relative;
	/* background-image: url(../img/red_circle.png); */
	/* background-size: 100% 100%;
	background-repeat: no-repeat; */
	align-items: center;
}

.circle_icon {
	position: absolute;
	/* -webkit-transform: rotate(360deg);
	animation: rotation 3s linear infinite;
	-moz-animation: rotation 3s linear infinite;
	-webkit-animation: rotation 3s linear infinite;
	-o-animation: rotation 3s linear infinite; */
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

.bottomLeftSingleCircle {
	width: 6.25rem;
	height: 5.8125rem;
	margin: 0px auto;
	background-image: url(../img/yellow_circle.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	align-items: center;
}

.bottomRightSingleCircle {
	width: 6.25rem;
	height: 5.8125rem;
	margin: 0px auto;
	background-image: url(../img/pink_circle.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	align-items: center;
}

.rightBoxTitleArea {
	margin-left: 5.5%;
	margin-top: 0.5%;
}

#view {
	width: 95%;
	height: 90%;
	margin: 0px auto;
	margin-top: 1.25rem;
}

.peopleChartArea {
	width: 100%;
	height: 100%;
}

input::-webkit-input-placeholder {
	color: #FFFFFF !important;
}

input:-moz-placeholder {
	color: #FFFFFF !important;
}

input:-ms-input-placeholder {
	color: #FFFFFF !important;
}

.export_area {
	width: 50%;
	color: #81C8E7;
	align-items: center;
	font-size: 16px;
}

.export_icon {
	width: 24px;
}

.export_text {
	margin-left: 5%;
}

.export_text:hover {
	cursor: pointer;
	text-decoration: underline;
}

.device_id_list {
	width: 90%;
	height: 80%;
	margin: 0px auto;
	margin-top: 8%;
}

.layui-btn-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.layui-btn-container .layui-btn {
	margin-right: 3%;
	margin-bottom: 3%;
}

/* 边框发光
	inset 内阴影
*/
.layui-btn {
	box-shadow: inset 0px 0px 3px 1px #77bfec;
}

.error_btn {
	background-color: black;
	color: white;
	border: 1px solid black;
}

.warning_btn {
	border: 1px solid #fece2c;
	box-shadow: inset 0px 0px 3px 1px #fece2c !important;
}

.sos_btn {
	border: 1px solid #ff0000;
	box-shadow: inset 0px 0px 3px 1px #ff0000 !important;
}

.progress_bar_area {
	position: absolute;
	bottom: 5%;
	margin-left: 20%;
	background-image: url(../img/progress_back.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 55%;
	height: 8%;
	align-items: center;
	z-index: 9;
}

.left_play_btn {
	width: 10%;
	text-align: center;
	userselect: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.playIcon:hover {
	cursor: pointer;
}

.bar_area {
	width: 88%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.left_begin_date {
	width: 18%;
	margin-right: 5%;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.right_end_date {
	width: 18%;
	margin-left: 5%;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.progress {
	position: relative;
	width: 55%;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.progress_bg {
	height: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	background-color: #616161;
}

.progress_bar {
	background: #FFFFFF;
	width: 0;
	height: 10px;
	border-radius: 5px;
}

.progress_btn {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	background: #fff;
	left: 0px;
	margin-left: -10px;
	top: -5px;
	cursor: pointer;
	border: 1px #ddd solid;
	box-sizing: border-box;
}

.progress_btn:hover {
	border-color: #F7B824;
}

@media only screen and (max-width: 1400px) {
	.titleText {
		width: 50%;
		height: 70%;
		margin-left: 10%;
		margin-top: 2%;
		text-align: center;
		background-image: url(../img/title_box.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		font-family: AdobeHeitiStd-Regular;
		font-size: 13px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #93f3ff;
	}

	.leftTopTitleArea {
		margin-left: 16%;
		margin-top: 1%;
	}

	.circle_icon {
		width: 80%;
	}

	.numberValue {
		font-family: MicrosoftYaHei;
		font-size: 22px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #62c8ff;
		margin-top: 17px;
	}

	.numberText {
		font-family: AdobeHeitiStd-Regular;
		font-size: 12px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #ffffff;
	}

	.bottomCircleArea {
		width: 100%;
		margin-top: 0;
	}

	#leftBottomCharts {
		width: 100%;
		height: 90%;
	}

	.topArea {
		width: 100%;
		height: 6%;
		margin-top: 1%;
		align-items: center;
	}

	.leftInputArea .icon-search {
		background: url(../img/search_btn.png) no-repeat;
		width: 1.25rem;
		height: 1.25rem;
		position: absolute;
		top: 4px;
		left: 32%;
	}

	.right_option_area {
		position: absolute;
		right: 0%;
		width: 27%;
		justify-content: space-around;
	}
}

@media only screen and (min-width: 1400px) {
	.titleText {
		width: 50%;
		height: 70%;
		margin-left: 10%;
		margin-top: 2%;
		text-align: center;
		background-image: url(../img/title_box.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		font-family: AdobeHeitiStd-Regular;
		font-size: 1.0625rem;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #93f3ff;
	}

	.leftTopTitleArea {
		margin-left: 19%;
		margin-top: 3%;
	}

	.numberValue {
		font-family: MicrosoftYaHei;
		font-size: 36px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #62c8ff;
		margin-top: 17px;
	}

	.numberText {
		font-family: AdobeHeitiStd-Regular;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #ffffff;
	}

	.bottomCircleArea {
		width: 100%;
		margin-top: 6%;
	}

	#leftBottomCharts {
		width: 100%;
		height: 90%;
	}

	.topArea {
		width: 100%;
		height: 5%;
		margin-top: 1%;
		align-items: center;
	}

	.leftInputArea .icon-search {
		background: url(../img/search_btn.png) no-repeat;
		width: 1.25rem;
		height: 1.25rem;
		position: absolute;
		top: 4px;
		left: 35%;
	}

	.right_option_area {
		position: absolute;
		right: 0%;
		width: 20%;
		justify-content: space-around;
	}

	.electricTitle {
		margin-top: 1.2%;
		margin-left: 18%;
	}
}
