body {
	color: #FFFFFF;
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: #01e1ff;
}

.middileLogotextArea {
	width: 17%;
	height: 7vh;
	margin: 0px auto;
}

.middileLogotextArea:hover {
	cursor: pointer;
}

.backImage {
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}

.backImagePic {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.topHead {
	position: absolute;
	top: 3%;
	right: 5%;
}

.singleRightOptionArea {
	align-items: center;
	padding-left: 1.25rem;
}

.topRightText {
	margin-left: 0.625rem;
	font-family: AdobeHeitiStd-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
}

.topRightText:hover {
	cursor: pointer;
	/* text-decoration: underline; */
}

.msgCount {
	display: none;
	position: absolute;
	width: 1.125rem;
	height: 1.125rem;
	margin-left: 53px;
	top: 0px;
	border-radius: 50%;
	background-color: rgba(226, 0, 0, 1);
	font-size: 12px;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	line-height: 1.125rem;
	text-align: center;
}

.topNavArea {
	position: absolute;
	width: 88%;
	height: 4%;
	/* height: 5vh;
	line-height: 5vh; */
	margin: 0px auto;
	top: 9%;
	left: 0;
	right: 0;
	justify-content: space-between;
}

.navList {
	height: 100%;
	width: 40%;
}

.navList ul {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navList ul li {
	float: left;
	position: relative;
	text-align: center;
	font-family: MicrosoftYaHei-Bold;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	z-index: 1;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.navList ul li dl {
	display: none;
	position: absolute;
	width: 100%;
	background-image: url(../img/menu_back.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 1;
	top: 75%;
}

.navList ul li dl dd {
	height: 42px;
	line-height: 42px;
}

.navList ul li dl dd:hover {
	cursor: pointer;
	color: #01e1ff;
	/* text-decoration: underline; */
}

.navList>ul>li>dl:hover {
	display: block;
}

.navList>ul>li>a:hover+dl {
	display: block;
}

.paddingTopTen {
	padding-top: 10px;
}

.paddingBottomTen {
	padding-bottom: 10px;
}

.bottomLine {
	width: 70%;
	margin: 0px auto;
	height: 0.0625rem;
	background: rgba(255, 255, 255, 1);
	opacity: 0.08;
}

.leftOptionList ul li:nth-child(1) {
	width: 18%;
}

.leftOptionList ul li:nth-child(2) {
	width: 15%;
	margin-left: 5%;
}

.leftOptionList ul li:nth-child(3) {
	width: 18%;
	margin-left: 5%;
}

.leftOptionList ul li:nth-child(4) {
	width: 18%;
	margin-left: 3%;
}

.leftOptionList ul li:nth-child(5) {
	width: 13%;
	margin-left: 5%;
}

.rightOptionList ul li:nth-child(1) {
	width: 12%;
}

.rightOptionList ul li:nth-child(2) {
	width: 17%;
	margin-left: 5%;
}

.rightOptionList ul li:nth-child(3) {
	width: 18%;
	margin-left: 5%;
}

.rightOptionList ul li:nth-child(4) {
	width: 15%;
	margin-left: 6%;
}

.rightOptionList ul li:nth-child(5) {
	width: 17%;
	margin-left: 5%;

}

.symbolSize {
	font-size: 20px !important;
	opacity: 0.6;
	margin-left: 15%;
}

.lastOption {
	/* margin-top: 0.125rem; */
}

.mainBody {
	position: absolute;
	width: 92%;
	height: 81vh;
	margin: 0px auto;
	top: 14%;
	left: 0;
	right: 0;
	bottom: 0;
	/* border: 1px solid white; */
}

.bottomArea {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 6px
}

.recordText a {
	text-decoration: none;
	color: #FFFFFF;
}

.recordText a:hover {
	/* text-decoration: underline; */
}

.mainFrame {
	width: 100%;
	height: 100%;
}

.check_nav {
	color: #01e1ff;
}

.layui-nav-bar {
	display: none;
}

.layui-nav {
	padding: 0px !important;
	background-color: transparent !important;
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
	color: #01e1ff;
}

.warnValArea {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
}

.titleTextArea {
	width: 100%;
	height: 10%;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	font-size: 1.125rem;
	text-align: center;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	background: rgba(44, 115, 196, 1);
	border-radius: 4px 4px 0px 0px;
}

.warningTile {
	font-size: 16px;
	font-family: MicrosoftYaHei;
	color: rgba(53, 78, 101, 1);
}

.inputArea input {
	width: 88%;
	height: 100%;
	font-size: 0.9375rem;
	background: rgba(249, 249, 249, 1) !important;
}

/**
 *  修改google浏览器，默认的聚焦黄色背景为白色
 */
.inputArea input:-webkit-autofill,
.inputArea select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.inputArea input {
	outline-color: invert;
	outline-style: none;
	outline-width: 0px;
	border: none;
	border-style: none;
}

.inputArea input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: rgba(150, 150, 150, 1);
	/* placeholder字体大小  */
	font-size: 14px;
	font-family: MicrosoftYaHei;
}

.leftText {
	font-size: 0.8125rem;
	font-family: MicrosoftYaHei;
	color: rgba(150, 150, 150, 1);
}

.secContent {
	margin-top: 0.625rem;
}

.warningArea {
	width: 75% !important;
}

.warningArea input {
	width: 100%;
	text-indent: 1em;
}

.warningLine {
	height: 0.0625rem;
	background-color: rgba(150, 150, 150, 1);
	width: 80%;
	margin: 0px auto;
	margin-top: 5%;
}

.warningTile {
	font-size: 16px;
	font-family: MicrosoftYaHei;
	color: rgba(53, 78, 101, 1);
}

.waringContent {
	margin-top: 1.5625rem;
}

.warningSpeedArea {
	width: 70% !important;
	text-indent: 1em;
}

.confirmBtn {
	width: 35%;
	height: 100%;
	line-height: 2.5625rem;
	background: rgba(44, 115, 196, 1);
	font-size: 18px;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	border-radius: 15px;
}

.resetBtnSec {
	width: 35%;
	height: 100%;
	line-height: 2.5625rem;
	background: rgba(213, 213, 213, 1);
	font-size: 18px;
	font-family: MicrosoftYaHei;
	color: rgba(100, 100, 100, 1);
	border-radius: 15px;
}

.layui-form-radio,
.layui-form-radio * {
	color: #000000;
}

.runScheduleArea {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
	color: #000000;
}

.runScheduleArea .titleTextArea {
	width: 100%;
	height: 20%;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	font-size: 1.125rem;
	text-align: center;
	font-family: MicrosoftYaHei;
	color: rgba(255, 255, 255, 1);
	background: rgba(44, 115, 196, 1);
	border-radius: 4px 4px 0px 0px;
}

.runScheduleArea .scheduleList {
	width: 90%;
	margin: 0px auto;
	margin-top: 5%;
	justify-content: space-around;
}

.runtimeSet {
	align-items: center;
}

.runtimeSetInput {
	width: 11.8125rem;
	height: 2.25rem;
	line-height: 2.25rem;
	background: rgba(249, 249, 249, 1);
	border-radius: 0.125rem;
	border: 1px solid rgba(221, 221, 221, 1);
}

.runtimeSetSec {
	align-items: center;
	margin-left: 2.625rem;
}

.btnGroup {
	width: 90%;
	margin: 0px auto;
	margin-top: 5%;
	justify-content: space-evenly;
}

.leftTextStr {
	width: 30%;
}

.runtimeSetInput .inputArea input {
	text-indent: 1em;
}

.bottomMiddleArea {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #01347A;
	/* background-image: url(../img/pure_back.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat; */
}

.rightPartArea {
	position: absolute;
	width: 25%;
	right: 0;
	justify-content: space-around;
	top: 5%;
	height: 5%;
	z-index: 9;
}

.time_chosen_area {
	width: 30%;
}

.time_chosen_area .layui-form {
	width: 100%;
}

.middleTopOption {
	width: 30%;
	align-items: center;
	font-size: 1.25rem;
}

.topCharts {
	width: 96%;
	height: 90%;
	/* border: 1px solid white; */
	margin: 0px auto;
	margin-top: 2%;
	color: #FFFFFF !important;
	position: relative;
}

#checkedBigCharts {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #FFFFFF !important;
}

#heat_x_checked {
	width: 100%;
	height: 50%;
	color: #FFFFFF !important;
}

#heat_y_checked {
	width: 100%;
	height: 50%;
	color: #FFFFFF !important;
}

.heatMapArea {
	position: absolute;
	width: 100%;
	height: 100%;
}

.layui-form-select dl dd {
	color: #000000;
}

.layui-input, .layui-select, .layui-textarea{
	background: transparent;
	color: #FFFFFF;
}


@media only screen and (max-width: 1400px) {
	.singleWarning {
		width: 60%;
		margin: 0px auto;
		margin-top: 1%;
	}

	.runtimeSetInput {
		width: 11.8125rem;
		height: 2.25rem;
		line-height: 2.25rem;
		background: rgba(249, 249, 249, 1);
		border-radius: 0.125rem;
		border: 1px solid rgba(221, 221, 221, 1);
	}

	.runtimeSetInput .middleLine {
		margin: 0;
		margin-right: 0.375rem;
		color: darkgray;
	}

	.runtimeSetInput .lefttextArea {
		margin: 0;

	}

	.runtimeSetInput .inputArea {
		width: 66%;
	}

	.waringContent {
		margin-top: 0.2625rem;
	}

	.radioArray {
		width: 55%;
	}

	.layui-input-block {
		margin-left: 0px;
	}

	.speedBtnGroup {
		width: 80%;
		height: 12%;
		margin: 0px auto;
		margin-top: 5%;
		justify-content: space-around;
	}

}

@media only screen and (min-width: 1400px) {
	.singleWarning {
		width: 60%;
		margin: 0px auto;
		margin-top: 5%;
	}

	.runtimeSetInput {
		width: 11.8125rem;
		height: 2.25rem;
		line-height: 2.25rem;
		margin-left: 1.875rem;
		background: rgba(249, 249, 249, 1);
		border-radius: 0.125rem;
		border: 1px solid rgba(221, 221, 221, 1);
	}

	.runtimeSetInput .middleLine {
		margin: 0;
		margin-right: 0.375rem;
		color: darkgray;
	}

	.runtimeSetInput .lefttextArea {
		margin: 0;

	}

	.runtimeSetInput .inputArea {
		width: 66%;
	}

	.waringContent {
		margin-top: 1.5625rem;
	}

	.radioArray {
		margin-left: 2.25rem !important;
	}

	.speedBtnGroup {
		width: 80%;
		height: 8%;
		margin: 0px auto;
		margin-top: 5%;
		justify-content: space-around;
	}

	.speedSetInput {
		margin-left: 0.3125rem;
	}
}
