.nameTextArea{
	margin-left: 2.3125rem!important;
}
.principalArea{
	width: 5.625rem!important;
}
.inspectResultArea{
	margin-left: 4.6875rem!important;
}
.inspectResult{
	width: 10.5rem!important;
}
.inspectionName{
	width: 25rem!important;
}
.dateSelect{
	width: 10.5rem!important;
}