#bigCharts {
	width: 800px;
	height: 25rem;
}

#slChars {
	width: 400px;
	height: 300px;
}

.downArea {
	margin-top: 50px;
	margin-left: 20px;
}

.rightCharts {
	margin-left: 40px;
}

#rightCanvas {
	width: 240px;
	height: 400px;
}


.leftBox {
	width: 4.3125rem;
	text-align: center;
	line-height: 2.3125rem;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 2px;
	border-color: #e6e6e6;
	border-right: none;
}

.maohao {
	font-weight: bold;
	margin-left: 0.125rem;
}

.layui-form-select {
	width: 7.5rem !important;
}

.layui-input,
.layui-select,
.layui-textarea {
	height: 2.4375rem !important;
}

.layui-input-inline {
	margin-left: 0 !important;
}

.layui-input,
.layui-select,
.layui-textarea {
	border-left: none;
}

.rightOptionArea {
	width: 17.125rem;
	height: 42.0625rem;
	margin-top: 1.25rem;
}

.selOptionArea {
	margin: 0rem auto;
}

.layui-btn-container button {
	width: 2.1875rem;
	height: 1.3125rem;
	font-size: 0.775rem;
	line-height: 1.4125rem;
	text-align: center;
	border-radius: 0.125rem;
}

.deviceListArea {
	width: 100%;
	text-align: center;
	margin-top: 1.0625rem;
}
