#bigCharts {
	width: 800px;
	height: 25rem;
	margin-top: 1.25rem;
}

#slChars {
	width: 400px;
	height: 380px;
}

.downArea {
	margin-top: 1.5625rem;
	margin-left: 3.75rem;
}

.rightCharts {
	position: relative;
	margin-left: 40px;
}

.leftBox {
	width: 4.3125rem;
	text-align: center;
	line-height: 2.3125rem;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 2px;
	border-color: #e6e6e6;
	border-right: none;
}

.maohao {
	font-weight: bold;
	margin-left: 0.125rem;
}

.layui-form-select {
	width: 7.5rem !important;
}

.layui-input,
.layui-select,
.layui-textarea {
	height: 2.4375rem !important;
}

.layui-input-inline {
	margin-left: 0 !important;
}

.layui-input,
.layui-select,
.layui-textarea {
	border-left: none;
}

.rightOptionArea {
	width: 17.125rem;
	height: 42.0625rem;
	margin-top: 1.25rem;
}

.layui-btn-container {
	display: flex;
}

.layui-btn-container button {
	width: 2.1875rem;
	height: 1.3125rem;
	font-size: 0.775rem;
	line-height: 1.4125rem;
	text-align: center;
	border-radius: 0.125rem;
}

.deviceListArea {
	width: 100%;
	text-align: center;
	margin-top: 1.0625rem;
}

.textcenter {
	width: 100%;
	text-align: center;
	font-size: 0.8125rem;
	font-family: MicrosoftYaHei;
	color: rgba(155, 155, 155, 1);
}
.textTitlecenter {
	font-size: 0.875rem;
	font-family: MicrosoftYaHei;
	color: rgba(53, 78, 101, 1);
}

.canvasTitle {
	margin-bottom: 0.9375rem;
}

.deviceTime {
	color: #000000;
	font-size: 0.75rem;
	margin-top: 0.375rem;
	margin-bottom: 1.25rem;
}

.canvasText {
	position: absolute;
	margin-top: 340px;
	margin-left: 90px;
}
.deepVal{
	position: absolute;
    transform: rotate(268deg);
    left: -46px;
    top: 170px;
	font-size: 0.8125rem;
	font-family: MicrosoftYaHei;
	color: rgba(155, 155, 155, 1);
}