.bottomTable {
	margin-top: 1.0625rem !important;
}

.nameArea {
	width: 205px !important;
}

.layui-form-label {
	width: 5rem !important;
}

.dateTextArea {
	margin-left: 0rem;
}

.foundationPic {
	margin: 0rem auto;
	margin-top: 1.25rem;
}

.runtimeSet {
	margin-right: 1.25rem;
}
.error_status{
	color:rgba(0,34,255,1);
}